<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= post.author %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= post.ip_address %>
  </p>

</div>
