<% if false %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <div id="new-post" class="post">
    <%= render 'form', post: @new_post %>
  </div>
</div>

<script>
  document.addEventListener("trix-initialize", function () {
    if (location.hash == "") {
      location.hash = "#new-post"
    }
  });
</script>
